.BlockTypeSection {
    -unity-text-align: upper-left;
    -unity-font-style: normal;
    font-size: 17px;
    -unity-font: url('/Assets/Spawn Level Prefab Tool/Editor/Fonts/Purista Semibold.otf');
}
